body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Flamenco', cursive;
    font-size: 0.9em;
    line-height: 1.2em;
  }


   /*  Mobile-first design  */
  
  header {
    text-align: center;
  }

  header img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    margin-top: 20px;
}

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  
  .card {
    background: #FFF;
    max-width: 300px;
    border-radius: 10px;
    padding: 0 1em;
    box-shadow: 2px 2px 6px 0px #a6a8a8;
    margin: 0.5rem;
  }

  .card h3 {
      text-align: center;
      letter-spacing: 0.1em;
  }

  ol {
      list-style: none;
  }

  .services__price-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
  } 

  .services__price-item {
      margin-right: 1rem;
  }

  .services__dogsize {
      font-size: 70%;
  }
  
  .services__disclaimer {
    font-size: 60%;
    line-height: normal;
    margin-top: 0;
  }

   /*  For TABLET  */
  @media only screen and (min-width: 678px) {
    header img {
        max-width: 120px; 
        max-height: 120px;
    }
  }

  /*  For DESKTOP  */
  @media only screen and (min-width: 900px) {
    header img {
        max-width: 120px; 
        max-height: 120px;
    }

    main { 
        display: grid; 
        align-items: stretch;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
        grid-gap: 0px;
        font-size: 1.1em;
    }

    .card h3 {
        text-align: center;
        font-size: 1.2em;
    }

    .card {
        max-width: 300px;
    }

    .card:hover {
        background-color: linear-gradient(0.1turn, #3f87a6, #ebf8e1, #f69d3c);
    }

  
}