

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 600px;
    /* background: linear-gradient(#FFF, #1B4D3E); */
  }

   /*  Mobile-first design  */
  header {
    text-align: center;
  }

  header img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    margin-top: 20px;
}

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background: #FFF;
    max-width: 70%;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 1px 1px 10px 1px #a6a8a8;
    margin: 0.5rem;
    
  }

  ol {
      list-style: none;
  }

  .services__price-box {
      display: inline-flex;
  } 

  .services__price-item {
      margin-right: 1rem;
  }
  
  .services__disclaimer {
    font-size: 60%;
  }

   /*  For TABLET  */
  @media only screen and (min-width: 678px) {
    header img {
        max-width: 150px; 
        max-height: 150px;
    }
  }

  /*  For DESKTOP  */
  @media only screen and (min-width: 900px) {
    header img {
        max-width: 300px; 
        max-height: 300px;
    }


  }


  